<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/splash.css" />
    <title>delftory - Simple Memory Game</title>
    <style>
        
    </style>
</head>
<body>
<main>
    <section id="top">
        <h1>
            delftory
        </h1>
        <form action="game.html" method="get" >
            <button class="button">play</button>
        </form>
        </section>
</main>
<div class ="footer"><%= gamesPlayed %> 
    <%if (gamesPlayed != 1) { %>
        games
    <% } else { %>
        game
    <% } %>
    played, 
    <%= playersOnline %> 
    players online
    <%= winRatio %>
    current winratio of player A to B</div>
</body>
</html>