@import "style.css";
h1{
    font-size: 100px;
    
}
.footer{
    position:absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    background-color: #00a6d8;
}

.grid-container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 100%;
}

@keyframes animation {
  0% {
    margin-left: -40%;
  }
  50% {
    margin-left: 20%;
  }
  100% {
    margin-left: -40%;
  }
}