@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap');
body{
  font-family: 'DM Sans', sans-serif;
            color: #00a6d8;
            text-align: center;
}
.button {
  display: inline-block;
  border-radius: 100px;
  background-color: #00a6d8;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 34px;
  font-family: 'DM Sans', sans-serif;
  padding: 20px;
  width: auto;
  transition: all 0.5s;
  cursor: normal;
  margin: 5px;
  font-weight: 500;
}